#play_btn {
    -fx-background-color: #372052;
    -fx-background-radius: 100;
    -fx-border-color: #573699;
    -fx-border-width: 4;
    -fx-effect: dropshadow(gaussian,
    rgba(99,102,241,.3),
    15,0,0,0);
    -fx-border-radius: 50;
}

#play_btn:hover {
    -fx-background-color: #482a6b/*#5e378a #6642ad*/;
}

#play_btn:pressed {
    -fx-background-color: #372052;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.player {
    -fx-background-color: #382d42;
    -fx-background-radius: 50;
}

.player:hover {
    -fx-background-color: #482a6b
}

.player:pressed {
    -fx-background-color: #372052;
}

#volume_slider .track {
    -fx-background-color: linear-gradient(to right, #7C5CFC 20%, #969696 0%);
    -fx-pref-height: 4px;
    -fx-pref-width: 4px;
}

#volume_slider .thumb {
    -fx-background-color: #7C5CFC;
    -fx-pref-height: 24px;
    -fx-pref-width: 8px;
}

#time_slider .track {
    -fx-background-color: linear-gradient(to right, #7C5CFC 0%, #969696 0%);
        -fx-pref-height: 4px;
        -fx-pref-width: 4px;
}

#time_slider .thumb {
    -fx-background-color: #7C5CFC;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-background-radius: 100;
}

#time_slider .thumb:hover, #volume_slider .thumb:hover {
    -fx-background-color: #543ac1;
}

#time_slider .thumb:pressed {
    -fx-background-color: #7C5CFC;
    -fx-scale-x: 1.25;
    -fx-scale-y: 1.25;
}